<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png " style="height: 40px; margin-left: 200px;">
    <form class="d-flex" style="margin-left: 20px;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 100px;">
      <ul class="navbar-nav">
        <li class="navbar-nav">
          <span class="material-icons" style="color: black; margin-right: -50px; margin-top: -10px; margin-left: 20px;">
            house
          </span>
          <a class="nav-link active" aria-current="page" routerLink="/home" style="color: black; margin-right: 20px;
            margin-top: 10px; margin-bottom: -40px; 
             ">Home</a>
        </li>
        <li class="navbar-nav">
          <span class="material-icons" style="color: black; margin-right: -70px; margin-top: -10px; margin-left: 10px;">
            group
          </span>
          <a class="nav-link" routerLink="/mynetwork" style="color: black;margin-top: 10px; margin-bottom: -40px; ">My
            Network</a>
        </li>
        <li class="navbar-nav">
          <span class="material-icons" style="color: black;  margin-right: -70px; margin-top: -10px; ">
            work
          </span>
          <a class="nav-link" routerLink="/job"
            style="color: black; margin-top: 10px; margin-bottom: -40px; margin-left: 25px;">Jobs</a>
        </li>
        <li class="navbar-nav">
          <span class="material-icons"
            style="color: black; margin-right: -75px;  margin-top: -10px; margin-left: 30px;  ">
            message
          </span>
          <a class="nav-link" routerLink="/messaging" style="color: black; margin-top: 10px; margin-bottom: -40px;
            margin-left:10px; ">Messaging</a>
        </li>
        <li class="navbar-nav">
          <span class="material-icons"
            style="color: black; margin-right: -70px; margin-top: -10px; margin-left: 30px; ">
            notifications
          </span>
          <a class="nav-link" routerLink="notification"
            style="color: black; margin-top: 10px; margin-bottom: -40px;">Notifications</a>
        </li>
        <ng-container *ngIf="user$ | async as user; else loginButton">
          <button mat-button [matMenuTriggerFor]="userMenu" style="color: black;">
            <img width="30" height="30" style="border-radius:5px ;" class="profile-image-toolbar"
              [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" /> Me
            <mat-icon>expand_more</mat-icon>
          </button>
        </ng-container>
        <ng-template #loginButton>
          <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            Profile
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </ul>
    </div>
    <div style="margin-right: 23%; border-left: 1px solid black;">
      <span class="material-icons" style="color: black;">
        apps
      </span>

    </div>
  </div>
</nav>