<!-- <p>user-profile works!</p> -->

<div class="col">
    <div>
      <div class="side-nav" style="border: 3px solide black;">
        <ul class="profil navbar-nav">
          <ng-container *ngIf="user$ | async as user">
  
            <!-- <img
                  width="200"
                  height="250"
                  class="profile-image-toolbar"
                  [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
                /> -->
            <div id="bg-img" class="profile-image">
  
              <img routerLink="/profile" width="150" height="150"
                style="cursor: pointer; margin-top: 4rem; margin-left: 5rem;" class="margin-top mat-elevation-z1"
                [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
            </div>
            <h1 style="text-align: center; margin-top: 8rem;"> {{ user.displayName }} </h1>
            <!-- <h1> {{ user.phone }} </h1> -->
            <h1> {{ user.address }} </h1>
            <hr>
          </ng-container>
          <li class="navbar-nav">
            <span class="material-icons">
              bookmark
            </span>
            <h4>who viewed your profile</h4>
            <h4>viewed of your post</h4>
            <hr>
            <h4>This is test</h4>
            <a>My Jobs</a>
          </li>
        </ul>
      </div>
      <div style="margin-top: 2rem; border-radius: 10px;">
        <li class="navbar-nav">
          <span class="material-icons">
            bookmark
          </span>
          <a> Jobs Alert </a>
  
        </li>
        <li class="navbar-nav">
          <a> salary </a>
  
        </li>
        <li class="navbar-nav">
          <a> Skill Assesment </a>
  
        </li>
        <li class="navbar-nav">
          <a> Interview prep </a>
  
        </li>
        <li class="navbar-nav">
          <a> Resume builder </a>
  
        </li>
        <li class="navbar-nav">
          <a></a>
  
        </li>
        <li class="navbar-nav">
          <a> Jobs Seeker Guidance </a>
  
        </li>
        <li class="navbar-nav">
          <a> Application Setting </a>
  
        </li>
  
      </div>
    </div>