#bg-img{
    background-size: 100% ;
    background-repeat: no-repeat;
    background-size: cover;height: 150px;
    border-radius: 10px;
    width: 100%;
    background-image: url("\src\assets\images\download.jpg");
}
.profile-image {
    position: relative;
    width: 120px;
    margin: auto;
  }
  
  .profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
.side-nav{
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
    width: 100%;
    height: 130%;
    border: 1px solid rgb(228, 216, 216);
}
.side-nav2{
    background-color: white;
    margin-top: 40px;
    margin-left: -30%;
    border-radius: 10px;
    width: 130%;
    height: 90%;
    border: 1px solid rgb(228, 216, 216);

}
.main{
    border: 1px solid rgb(228, 216, 216);
    background-color: white;
    margin-top: 40px;
    
    border-radius: 10px;
    width: 90%;
    height: 180%;

}
.main-heading{
    font-family: 'Rubik Wet Paint', cursive;
    text-align: center;
    margin-top: 5%;
}
.jobseeker{
    font-size: 20px;
    margin: 15px;
    margin-bottom: 0px;
}
p{
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
    text-decoration-line: none;
    display: flex;
}
.profil{
    border: 1px solide black;
}
