<app-header></app-header>


<div class="container-flude" style="width: 97%; margin-left: 2rem;">
  <div class="row">
    <div class="col">
      <app-user-profile></app-user-profile>
    </div>
    <div class="col-7">
      <div class="main">
        <app-feed></app-feed>
      </div>
    </div>
    <div class="col">
      <div class="side-nav2">
        <h5 class="jobseeker">Job seeker Guidance</h5>
        <p>Recommended based on your activity</p>
        <ul>
          <li class="navbar-nav">
            <a routerLink="/cv">I want to improve <br> resume</a>
          </li>
          <img src="https://www.kindpng.com/picc/m/237-2374125_submit-your-resume-png-download-cartoon-resume-png.png"
            alt="" style="width: 50px;
                height: 40px; 
               margin-left: 170px; margin-top: -70px;">
        </ul>
        <p>
          Explore our curated guide of expert-led
          courses, such as how to improve your resume
          and grow your network,to help you
          land your next opportunity.</p>
        <a class="nav-link" routerLink="/home" style="display: flex;">Show more</a>
        <span class="material-icons" style="float: right; margin-right: 205px; margin-top: -29px;">
          arrow_forward
        </span>
      </div>
    </div>
  </div>
</div>