<div class="form-container mat-elevation-z5  margin-top">
  <h1 style="padding-left: 3rem;"><b>Login</b></h1>
  <form class="form-container text-center" [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <div class=" center margin-top ">
      <button style="margin-top: 10px;" type="submit" mat-raised-button color="primary">Login</button>
    </div>
    <span class=" center margin-top">New to our platform? <a class="sign-up-link" routerLink="/sign-up">Sign
        up!</a></span>
  </form>
</div>