.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}
.form-container{
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto ;
    /* margin-top: 7%; */
    height: 80%;
    max-height: 300px; 
}
.lgbtn{
    margin-bottom: 3px;
}