<div class="container">
  <div class="row">
    <div class="col">
      <div class="side-nav">
        <ul class="navbar-nav">
          <li class="navbar-nav">
            <span class="material-icons">
              bookmark
            </span>
            <a>My Jobs</a>
          </li>

          <li class="navbar-nav">
            <span class="material-icons">
              bookmark
            </span>
            <a> Jobs Alert </a>

          </li>
          <li class="navbar-nav">
            <a> salary </a>

          </li>
          <li class="navbar-nav">
            <a> Skill Assesment </a>

          </li>
          <li class="navbar-nav">
            <a> Interview prep </a>

          </li>
          <li class="navbar-nav">
            <a> Resume builder </a>

          </li>
          <li class="navbar-nav">
            <a></a>

          </li>
          <li class="navbar-nav">
            <a> Jobs Seeker Guidance </a>

          </li>
          <li class="navbar-nav">
            <a> Application Setting </a>

          </li>
        </ul>
      </div>
    </div>


    <div class="col-7">
      <div class="main">
        <h5 class="main-heading">similar to a job you applied less than a day ago</h5>
      </div>

    </div>




    <div class="col">

      <div class="side-nav2">
        <h5 class="jobseeker">Job seeker Guidance</h5>
        <p>Recommended based on your activity</p>

        <ul>
          <li class="navbar-nav">
            <a routerLink="/cv">I want to improve <br> resume</a>
          </li>
          <img src="https://www.kindpng.com/picc/m/237-2374125_submit-your-resume-png-download-cartoon-resume-png.png"
            alt="" style="width: 50px;
            height: 40px; 
           margin-left: 170px; margin-top: -70px;">
        </ul>
        <p>
          Explore our curated guide of expert-led
          courses, such as how to improve your resume
          and grow your network,to help you
          land your next opportunity.</p>

        <a class="nav-link" routerLink="/home" style="display: flex;">Show more</a>
        <span class="material-icons" style="float: right; margin-right: 205px; margin-top: -29px;">
          arrow_forward
        </span>
      </div>
    </div>
  </div>
</div>