<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <h1>Create a post</h1>
    <mat-icon [mat-dialog-close]="false">clear</mat-icon>
</div>
<hr>
<div class="row">
    <ng-container *ngIf="user$ | async as user">
        <img routerLink="/profile" width="20" height="60" style=" border-radius: 25px; margin-top: 1rem; "
            class="margin-top mat-elevation-z1" [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
        {{user.displayName}}
    </ng-container>
</div>
<div class="row">
    <textarea name="" id="" cols="30" rows="10" placeholder="What do you want to talk about?"
        style="border: 0px;"></textarea>
</div>
<div class="row">
    <div style="display: flex; justify-content: space-between;">
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon> insert_photo</mat-icon>
        </button>
        <input #inputField hidden type="file" />
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon> insert_comment</mat-icon>
        </button>
        <input #inputField hidden type="file" />
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon> insert_drive_file</mat-icon>
        </button>
        <input #inputField hidden type="file" />
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>business_center</mat-icon>
        </button>
        <input #inputField hidden type="file" />
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>equalizer</mat-icon>
        </button>
        <input #inputField hidden type="file" />
        <mat-icon>more_horiz</mat-icon>
    </div>
    <div class="col-2">
        <button>post</button>
    </div>

</div>