<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
  style="background-color: rgb(236, 234, 234); border-radius: 20px; width: 100%;">
  <div style="height: 13rem; background-color: aqua;">
    <div class="row">
      <div class="col-2">
        <ng-container *ngIf="user$ | async as user">
          <img routerLink="/profile" width="60" height="60"
            style="cursor: pointer; border-radius: 25px; margin-top: 1rem; margin-left: 3rem;"
            class="margin-top mat-elevation-z1" [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
        </ng-container>
      </div>
      <div class="col-10">
        <button style="margin-top: 1rem; width:95%; border: 1px solid black; height: 3.8rem; " (click)="opendialog()"
          class="share-box-feed-entry__trigger">
          <span class="artdeco-button__text">post here</span>
        </button>
      </div>
    </div>
    <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
      <div class="col-3" style="align-items: center;">
        <button style="height:3rem;  margin-left: 2rem;background-color: aqua; border: 0px; display: inline-;">
          <mat-icon style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem;">
            photo_size_select_actual</mat-icon>
          <span style="margin-left: 2rem;">Photo</span>
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem; background-color: aqua; border: 0px;">
          <mat-icon style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem;">play_circle_filled
          </mat-icon>
          Video
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem; background-color: aqua;  border: 0px;">
          <mat-icon style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem;">redeem</mat-icon>
          <span style="margin-left: 2rem;">Job</span>
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;background-color: aqua; border: 0px; ">
          <mat-icon style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem;">
            photo_size_select_actual</mat-icon>
          <span style="margin-left: 2rem; margin-bottom: 3rem;">Write article</span>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div style="margin-top: 3rem; border-radius: 10px; background-color: white">

    <ng-container *ngIf="user$ | async as user">
      <img routerLink="/profile" width="60" height="60"
        style="cursor: pointer; border-radius: 25px; margin-top: 1rem; margin-left: 3rem;"
        class="margin-top mat-elevation-z1" [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
      {{user.displayName}}
    </ng-container>
    <hr>
    <p>This is test</p>
    <ng-container *ngIf="user$ | async as user">
      <img routerLink="/profile" width="100%" height="300" class="margin-top mat-elevation-z1"
        [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
    </ng-container>

    <hr>
    <div class="row" style="display: flex; justify-content: space-between;">
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;; border: 0px; display: inline-; background-color: white;">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">
            thumb_up_alt</mat-icon>
          <span style="margin-left: 2rem;">Like</span>
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;  border: 0px; background-color: white;">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">
            textsms</mat-icon>
          Comment
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;   border: 0px; background-color: white;">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">send
          </mat-icon>
          <span style="margin-left: 2rem;">Send</span>
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem; border: 0px;background-color: white; ">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">share
          </mat-icon>
          <span style="margin-left: 2rem; margin-bottom: 3rem;">Share</span>
        </button>
      </div>
    </div>
  </div>
  <div style="margin-top: 3rem; border-radius: 10px; background-color: white">

    <ng-container *ngIf="user$ | async as user">
      <img routerLink="/profile" width="60" height="60"
        style="cursor: pointer; border-radius: 25px; margin-top: 1rem; margin-left: 3rem;"
        class="margin-top mat-elevation-z1" [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
      {{user.displayName}}
    </ng-container>
    <hr>
    <p>This is test</p>
    <ng-container *ngIf="user$ | async as user">
      <img routerLink="/profile" width="100%" height="300" class="margin-top mat-elevation-z1"
        [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
    </ng-container>

    <hr>
    <div class="row">
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;; border: 0px; display: inline-; background-color: white;">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">
            thumb_up_alt</mat-icon>
          <span style="margin-left: 2rem;">Like</span>
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;  border: 0px; background-color: white;">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">
            textsms</mat-icon>
          Comment
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem;   border: 0px; background-color: white;">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">send
          </mat-icon>
          <span style="margin-left: 2rem;">Send</span>
        </button>
      </div>
      <div class="col-3">
        <button style="height:3rem;  margin-left: 2rem; border: 0px;background-color: white; ">
          <mat-icon
            style="color: black;font-size: 35px; margin-left: 0.5rem; margin-top: 3rem; background-color: white;">share
          </mat-icon>
          <span style="margin-left: 2rem; margin-bottom: 3rem;">Share</span>
        </button>
      </div>
    </div>
  </div>

</div>