.share-box-feed-entry__trigger {
    margin: 4px 0;
    font-size: 1.4rem;
    flex-grow: 1;
    max-width: none;
    justify-content: left;
    --artdeco-reset-typography_getLineHeight: 1.5;
    line-height: var(--artdeco-reset-typography_getLineHeight);
    border: 1px solid var(--color-border-low-emphasis);
    border-radius: 35px!important;
    padding-left: 16px!important;
}
span{
    margin: var(--artdeco-reset-base-margin-zero);
    padding: var(--artdeco-reset-base-padding-zero);
    border: var(--artdeco-reset-base-border-zero);
    font-size: var(--artdeco-reset-base-font-size-hundred-percent);
    vertical-align: var(--artdeco-reset-base-vertical-align-baseline);
    background: var(--artdeco-reset-base-background-transparent);
}
